
@import url('https://fonts.googleapis.com/css2?family=Faustina:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu',Poppins,sans-serif;
  scroll-behavior: smooth;
}



:root {
  --themeColor: 0, 0, 255;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 1040px) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 1040px) {
  html {
    font-size: 56%;
  }
}

body {
  font-family: 'Ubuntu', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

nav ul li a:hover{
  color:blue;
}

.btn {
  font-family: inherit;
  letter-spacing: 1px;
  font-weight: 700;
  border: none;
  box-shadow: none;
  cursor: pointer;
  margin-top: 3rem;
  padding: 1.8rem 4rem;
  font-size: 1.8rem;
  border-radius: 3rem;
  border: 2px solid rgba(var(--themeColor), 1);
}

@media (max-width: 1040px) {
  .btn {
    padding: 2rem 4rem;
  }
}

.btn-theme {
  background: rgba(var(--themeColor), 1);
  color: #fff;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
}

.btn-inv {
  color: rgba(var(--themeColor), 1);
  background: #fff;
}

.btn-sm {
  padding: 1.3rem 2rem;
  font-size: 1.6rem;
  border: none;
}

.main-container {
  max-width: 120rem;
  margin: auto;
  width: 90%;
}

.main-section {
  padding: 12rem 0;
}

.main-section__content {
  margin-top: 10rem;
}

@media (max-width: 1040px) {
  .main-section {
    padding: 10rem 0;
  }

  .main-section__content {
    margin-top: 9rem;
  }
}

.heading-1 {
  font-size: 4.5rem;
  letter-spacing: 1px;
  line-height: 1.3;
  color: #000;
  font-weight: 400;
}

@media (max-width: 1040px) {
  .heading-1 {
    font-size: 4rem;
  }

  .heading-1-small {
  font-size: 1rem;
  display: block;
  margin-bottom: 0.5rem;
}
}

.heading-1-small {
  font-size: 3rem;
  display: block;
  margin-bottom: 0.5rem;
}
.heading-1-main-1{
  font-size: 5rem;
  display: block;
  margin-bottom: 0.9rem;
  font-weight: 500;
  color: #2222e3;
}
.heading-1__main_2{
  font-size: 2rem;
  display: block;
  margin-bottom: 1.5rem;
}

.img-container{
  flex-basis: 40%;
  flex-shrink: 0;
}

.img-container img{
  width: 100%;
}

.heading-secondary {
  font-size: 4rem;
  letter-spacing: 1px;
  line-height: 1.3;
  color: #000;
  font-weight: 400;
}

.heading-secondary__sm {
  font-size: 3.5rem;
  display: block;
  font-weight: 400;
  margin-bottom: 2.5rem;
  text-align: center;
}

.heading-tertiary {
  font-size: 3.4rem;
  letter-spacing: 1px;
  line-height: 1.3;
  color: #000;
  font-weight: 400;
}

.heading-quaternary {
  font-size: 3.5rem;
  letter-spacing: 1px;
  line-height: 1.3;
  color: #000;
  font-weight: 400;
}

@media (max-width: 1040px) {
  .heading-secondary {
    font-size: 3.7rem;
  }

  .heading-tertiary {
    font-size: 3rem;
  }
}

.text-primary {
  font-size: 1.9rem;
  color: #444;
  line-height: 1.6;
}

.text-primary span span {
  margin-bottom: 0rem;
  display: block;
  font-weight: 500;
}


.text-primary span:last-child {
  margin-bottom: 0;
}


@keyframes downToUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 10px 100px -5px #eee;
  z-index: 1000;
  background: #fff;
}

.header__logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__logo-img-cont {
  margin-right: 1.5rem;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  border-radius: 10rem;
  background: rgba(var(--themeColor), 1);
}

.navbtn {
  padding: 1rem 1rem;
  display: none;
  cursor: pointer;
}

@media (max-width: 1040px) {
  .navbtn {
    display: block;
  }
}

.bar {
  height: 1px;
  background: #000;
  width: 3rem;
  border-radius: 50px;
}

.SmallMenu {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 40rem;
  transform: translateX(-100%);
  transition: transform 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: visible;
}

.SmallMenu-close {
  position: absolute;
  top: 3.3rem;
  right: 2.5rem;
  width: 3rem;
  height: 3rem;
}

.SmallMenu-close:before,
.SmallMenu-close:after {
  position: absolute;
  content: ' ';
  height: 3rem;
  width: 1px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
}

.SmallMenu-close:before {
  transform: rotate(45deg);
}

.SmallMenu-close:after {
  transform: rotate(-45deg);
}

.SmallMenu--active {
  transform: translateX(0);
}

.SmallMenu-links {
  width: 90%;
}

.SmallMenu-link {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.3s, transform 0.3s;
  font-size: 2.5rem;
  text-align: center;
  display: block;
  padding: 3rem;
  color: #555;
}


.bar:first-child {
  margin-bottom: 8px;
}

@media (max-width: 1040px) {
  .header {
    padding: 2.3rem 1.5rem;
  }

  .header__logo-img-cont {
    margin-right: 1rem;
  }
}

.header__logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  font-size: 2.2rem;
  letter-spacing: 1px;
  color: #000;
  font-weight: 400;
  padding-left: 1.7rem;
}

.links {
  display: flex;
  align-items: center;
}

.link {
  padding: 1.3rem 2rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
  color: #000;
  font-weight: 400;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color:rgb(45, 45, 45);
    
    height: 4rem;
    width: 4rem;
    background: transparent;
    border: 0.2rem solid rgb(45, 45, 45);
   
    border-radius: 50%;
    margin: 1.2rem 1.5rem 4.5rem 0;
    transition: 0.5s ease;
}
.social-media a:hover{
   color: #4353FF;
   border: 0.2rem solid #4353FF;
}
@media (max-width: 1040px) {
  .link {
    padding: 1.3rem 1.5rem;
  }
}

@media (max-width: 1040px) {
  .links {
    display: none;
  }
}


.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.home-content {
  padding-left: 3rem;
  animation: downToUp 0.8s;
}

@media (max-width: 1040px) {

  .home{
    flex-direction: column-reverse;
  }

  .heading-1__main_2 p{
    display: none;
  }

  .home-content {
    margin: 0 auto;
    padding: 0rem 5rem 10rem 5rem;
  }

   .img-container{
    width: 70vw;
    margin-top: 10rem;
  }

}

.home-heading-1 {
  margin-bottom: 1rem;
}

.home__btn-theme {
  margin-right: 2rem;
}

@media (max-width: 1040px) {
  .home-heading-1 {
    margin-bottom: 4.5rem;
  }

  .home__btn-theme,
  .home__btn-inv {
    width: 100%;
  }

  .home__btn-theme {
    margin: 0 0 2rem 0;
  }
}


.about {
  background: rgb(252, 252, 252);
}

.align-center{
  text-align: center;
}

.text-bold{
  font-weight: 500;
  font-size: 4.5rem;
}

.about__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8rem;
}

@media (max-width: 1340px) {
  .about__info {
    grid-template-columns: 1fr;
    grid-gap: 6rem;
  }

  .about__btn-theme {
    width: 70%;
  }
}

.about__heading-quaternary {
  margin-bottom: 3rem;
  text-align: center;
}

.about__main-info {
  margin-bottom: 4rem;
}

.about__main-info h4{
  font-size: 2rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background: blue;
  padding: 0.5rem 0 0.5rem 1.5rem;
  border-radius: 2rem;
  margin-bottom: 2rem;

}

.about__text-primary {
  margin-bottom: 4rem;
}

.about__info-heading {
  margin-bottom: 3rem;
  color: #555;
}


.about__skill {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.5rem 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;

  background: #eee;
  color: #666;
  border-radius: 5px;
  font-weight: 500;
}


.skills {
  background: rgba(247, 247, 247, 1);
  padding: 5rem 3rem;
}

.skills-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skills-list-item {
  padding: 3rem;
  border-radius: 5px;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.skills-list li{
  text-align: center;
  border: 1px solid black;
}

.skills-list-item img{
  width: 50px;
}

.rating{
  font-size: 0rem;
}

.skills-list-item p{
  font-size: 1.8rem;
  padding: 2rem;
}


.skills-list-item i {
  color: rgba(var(--themeColor), 1);
  color: #999;
  font-size: 5rem;
}

@media (max-width: 75em) {
  .skills-list-item {
    padding: 1.5rem;
    border-radius: 5px;
    background: #fff;
  }

  .skills-list-item i {
    font-size: 5rem;
  }
}

@media (max-width: 1340px) {
  .skills {
    padding: 5rem;
  }

  .skills-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5rem;
  }

  .skills-list-item {
    text-align: center;
  }
}

@media (max-width: 1340px) {
  .skills {
    padding: 4rem;
  }

  .skills-list {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
  }
}

@media (max-width: 664px) {

  .skills-list {
    grid-template-columns: repeat(2, 1fr);
    
  }
}

@media (max-width: 415px) {

  .skills-list {
    grid-template-columns: repeat(1, 1fr);
    
  }
}

@media (max-width: 21.875em) {
  .skills-list-item i {
    font-size: 4rem;
  }
}


.projects__list-item {
  display: grid;
  grid-template-columns: 45%;
  grid-gap: 4rem;
  margin-bottom: 8rem;
}

.projects__list-item--inv {
  justify-content: flex-end;
}

@media (max-width: 75em) {
  .projects__list-item {
    grid-template-columns: 60%;
  }
}

@media (max-width: 1240px) {
  .projects__list-item {
    grid-template-columns: 100%;
  }
}

.projects__list-item--inv .projects__list-item-img-cont {
  margin: 0 0 0 auto;
}

.projects__list-item-img-cont {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 2rem;
}

.projects__list-item-img {
  width: 100%;
  display: block;
  border-radius: 2rem;
}

.projects__list-item-heading-tertiary {
  margin: 5rem 0 3rem 0;
}

@media (max-width: 1240px) {
  .projects__list-item-heading-tertiary {
    margin: 5rem 0 2.5rem 0;
  }
}

.projects__btn-theme {
  margin-right: 2rem;
}

@media (max-width: 1240px) {
  .projects__btn-theme {
    margin: 0 0 2rem 0;
  }

  .projects__btn-theme,
  .projects__btn-inv {
    width: 70%;
  }
}


.contact {
  background: rgba(250, 250, 250, 1);
}

.contact__form-cont {
  border-radius: 5px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}

.contact__form {
  background: #fff;
  padding: 5rem;
}

@media (max-width: 1340px) {
  .contact__form-cont {
    grid-template-columns: 2fr 1fr;
  }
}

@media (max-width: 1340px) {
  .contact__form-cont {
    grid-template-columns: 1fr;
  }

  .contact__form {
    padding: 3rem;
  }
}

.contact__form-field {
  margin-bottom: 3rem;
}

.contact__form-field-label {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #444;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}

.contact__form-field-input {
  display: block;
  padding: 2rem;
  width: 100%;
  border: 1px solid rgba(225, 225, 225, 1);
  font-size: 1.6rem;
  resize: none;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1px;
}

.contact__form-field-input::placeholder {
  color: rgb(175, 175, 175);
  font-weight: 400;
  font-size: 1.6rem;
}

.contact__form-field-input::-webkit-input-placeholder {
  color: rgb(175, 175, 175);
  font-weight: 400;
  font-size: 1.6rem;
}

.contact__form-field-input:-ms-input-placeholder {
  color: rgb(175, 175, 175);
  font-weight: 400;
  font-size: 1.6rem;
}

.contact__form-field-input::-ms-input-placeholder {
  color: rgb(175, 175, 175);
  font-weight: 400;
  font-size: 1.6rem;
}

.contact__form-field-input:-moz-placeholder {
  opacity: 1;
  color: rgb(175, 175, 175);
  font-weight: 400;
  font-size: 1.6rem;
}

.contact__form-field-input::-moz-placeholder {
  opacity: 1;
  color: rgb(175, 175, 175);
  font-weight: 400;
  font-size: 1.6rem;
}

.contact__form-field-input:focus {
  outline: none;
}

.contact__form-submit {
  padding: 2rem;
  width: 100%;
  font-size: 1.6rem;
  border: none;
  letter-spacing: 1px;
  font-family: inherit;
  font-weight: 700;
  background: rgba(var(--themeColor), 1);
  color: #fff;
  margin-top: 4rem;
  display: block;
  border-radius: 5px;
  cursor: pointer;
}

.footer__bottom {
  padding: 5rem 2rem;
  background: #222;
}

.footer__bottom-txt {
  color: #eee;
  font-size: 1.3rem;
  word-spacing: 2px;
  text-align: center;
}

.footer__bottom-txt a {
  color: #fff;
  font-weight: 500;
}


